# Python
*.py[co]
*.log

# Folders
*__pycache__*
.vscode
venv
migrations

# Files
*.db
secret.conf

# Installer Logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
